<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>The Tech Blog</title>
</head>

<body>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>

            {{#if loggedIn}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {{/if}}
        </div>
        <h1>The Tech Blog</h1>
    </nav>

    <main>
        {{{body}}}
    </main>
</body>

</html>