
    <main >
        
        <div class="posts">
            <h4>Object-Relational Mapping</h4>
            <h4>8/28/2023</h4>
        </div>
        <section class="login">
            <header><h3>Edit Post</h3> </header>
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Objec-Relational Mapping">
            <label for="content">Content</label>
            <textarea type="text" id="content">I have really loved learning about ORMs.  It's really simplified the way I create queries in SQL !
            </textarea>
            <button id="login">Update Post</button>
            <button id="login">Delete</button>
        </section>
        <section class="login">
            <header><h3>Create New Post</h3> </header>
            <label for="title">Title</label>
            <input type="text" id="title">
            <label for="content">Content</label>
            <textarea type="text" id="content"></textarea>
            <button id="login">Create</button>
        </section>
    </main>
    <button id="post">New Post</button>