

<section>
    <header>
        <h3>Why MVC is so important</h3> <span>Posted by test1 on 8/28/2023</span>
    </header>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, eligendi aliquam! Perferendis a aliquam
        nostrum. Explicabo minima deleniti veniam eaque, id unde tempore amet soluta.</p>
</section>
<section class="login">
    <header></header>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>--Tesst, 8/28/2023</p>
</section>
<section class="login">
    <header></header>
    <label for="comment">Comment</label>
    <textarea type="text" id="comment"></textarea>
    <button id="addComment">Submit</button>
</section>