<section class="login">
    <header>
        <h3>Login</h3>
    </header>
    <label for="username">Username</label>
    <input type="text" id="login">
    <label for="password">Password</label>
    <input type="text" id="password">
    <button id="login">Login!</button>
    <a href="/signup">Sign up instead</a>
</section>