<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>The Tech Blog</title>
</head>

<body>
    <nav>
        <div>
            <a href="/home">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
        <h1>The Tech Blog</h1>
    </nav>

    <main>
        <section class="login">
            <header><h3>Sign Up</h3> </header>
            <label for="username">Username</label>
            <input type="text" id="login">
            <label for="password">Password</label>
            <input type="text" id="password">
            <button id="signup">Sign Up!</button>
            <a href="/login">Login instead</a>
        </section>
    </main>
</body>

</html>